/*----------------------------------
-----------------Fonts--------------
------------------------------------*/
@font-face {
  font-family: 'WorkSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/worksans/WorkSans-Regular.ttf");
}
@font-face {
  font-family: 'WorkSans-SemiBold';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/worksans/WorkSans-SemiBold.ttf");
}
@font-face {
  font-family: 'WorkSans-Light';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/worksans/WorkSans-Light.ttf");
}
@font-face {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/worksans/WorkSans-Medium.ttf");
}
@font-face {
  font-family: 'CandyBeans';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/candybeans/CandyBeans.otf");
}
/*@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
}*/