/*----------------------------------
----------------General--------------
------------------------------------*/
* {
  box-sizing: border-box;
}

body {
  background: $white url("#{$images-path}main_bg.png") no-repeat center 0 /cover;
}

%center-vh {
  display: flex!important;
  align-items: center;
  justify-content: center;
}

li,
p,
td {
  font-family: 'WorkSans-Regular';
  line-height: 105%;
  font-size: 0.85em;
  color: $gray-text;
}

li {
  margin-bottom: 10px;
}

h1 {
  font-size: 2.27em;
  font-family: 'WorkSans-Light';
}

h2 {
  font-family: 'WorkSans-Light';
}

.display-1 {
  font-size: 2.95em;
  font-family: 'WorkSans-Light';

  b {
    font-family: 'CandyBeans';
  }
}

.display-2 {
  font-size: 2.05em;
  font-family: 'WorkSans-SemiBold';
}

.display-3 {
  font-size: 1.59em;
  font-family: 'WorkSans-Light';
}

.btn-light {
  font-size: 1em;
  font-family: 'WorkSans-Medium';
  color: $blue-menu-tx;
  display: block;
  margin: 0 auto 15px;
  padding: 14px 40px 14px 60px;
  border-radius: 0 55px 55px 0;
  position: relative;
  line-height: 100%;
  background-color: $white;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: $blue-icon-bg url("#{$images-path}img_spritesheet.png") no-repeat;
  }

  &.individual {
    &:before {
      background-position: -7px -7px;
    }
  }

  &.group {
    &:before {
      background-position: -7px -58px;
    }
  }
}

.unal-white-logo {
  margin: auto auto 35px;
}

.shadow-line-bottom {
  @include box-shadow-properties(inset 0 -13px 10px -10px rgba(0,0,0,0.15));
}
/*body {
  font-family: 'Montserrat-Regular', sans-serif;
  color: $paragraph-text-color;
  background: $main-bg;
}

a {
  text-decoration: none;
  color: #000;
}

*:focus {
  outline: 0;
}

%purple-underline {
  content: "";
  position: absolute;
  width: 142px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  margin: auto;
  border: 1px solid $heading-color;
}

.subject-content {
  .titles-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    .main-title {
      font-family: 'Montserrat-Bold';
      text-transform: capitalize;
      margin-bottom: 0;
    }

    .grade-title {
      font-family: 'Montserrat-Bold';
      margin-left: 20px;
    }

    .grade-label {
      color: white;
      font-size: 1.5em;
      font-family: 'Montserrat-SemiBold';
    }
  }

  .pills-container {
    margin-bottom: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
  }

  .bimester-pills {
    a {
      border-radius: 100px;
      text-transform: capitalize;
      color: white;
    }

    .active {
      a {
        background-color: rgba(black, 0.5) !important;
      }
    }
  }

  &.matematicas {
    .titles-container {
      background: $maths-banner-bg url("#{$images-path}img-maths-pattern-bg.png") no-repeat center / cover;
    }

    .grade-title,
    .main-title {
      color: $maths-banner-tx;
    }

    .pills-container {
      background-color: $maths-pills-container-bg;
    }

    .bimester-pills {
      a {
        background-color: $maths-banner-bg;

        &:hover {
          background-color: $maths-banner-tx;
          color: black;
        }
      }
    }
  }

  &.ciencias {
    .titles-container {
      background: $science-banner-bg url("#{$images-path}img-science-pattern-bg.png") no-repeat center / cover;
    }

    .grade-title,
    .main-title {
      color: $science-banner-tx;
    }

    .pills-container {
      background-color: $science-pills-container-bg;
    }

    .bimester-pills {
      a {
        background-color: $science-banner-bg;

        &:hover {
          background-color: $science-banner-tx;
          color: black;
        }
      }
    }
  }

  &.sociales {
    .titles-container {
      background: $social-banner-bg url("#{$images-path}img-social-pattern-bg.png") no-repeat center / cover;
    }

    .grade-title,
    .main-title {
      color: $social-banner-tx;
    }

    .pills-container {
      background-color: $social-pills-container-bg;
    }

    .bimester-pills {
      a {
        background-color: $social-banner-bg;

        &:hover {
          background-color: $social-banner-tx;
          color: black;
        }
      }
    }
  }

  &.lenguaje {
    .titles-container {
      background: $language-banner-bg url("#{$images-path}img-language-pattern-bg.png") no-repeat center / cover;
    }

    .grade-title,
    .main-title {
      color: $language-banner-tx;
    }

    .pills-container {
      background-color: $language-pills-container-bg;
    }

    .bimester-pills {
      a {
        background-color: $language-banner-bg;

        &:hover {
          background-color: $language-banner-tx;
          color: black;
        }
      }
    }
  }
}

.bimester-content {
  .panel {
    border-radius: 15px;
    padding: 10px;
    border: none;
    margin: 30px 0;
    @include box-shadow-properties(0 0 20px 0 rgba(0, 0, 0, 0.3));

    .panel-heading {
      font-family: 'Montserrat-Medium';
      font-size: 1.4em;
      background: transparent;
      color: $header-color1;
    }

    .guide-modal-button,
    .video-modal-button {
      background-color: white;
      border: 2px solid $header-color1;
      border-top-left-radius: 0;
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      border-bottom-left-radius: 0;
      font-family: 'Montserrat-Medium';
      color: $header-color1;
      font-size: 1em;
      margin-bottom: 15px;
      position: relative;
      padding-left: 65px;
      height: 55px;
      text-align: left;
      text-transform: capitalize;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        background-color: rgba($header-color1, 0.5);
        color: white;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 55px;
      }
    }

    .guide-modal-button {
      &:after {
        background: $header-color1 url("#{$images-path}img-pdf-icon.png") no-repeat center / 60% auto;
      }
    }

    .video-modal-button {
      &:after {
        background: $header-color1 url("#{$images-path}img-video-icon.png") no-repeat center / 70% auto;
      }
    }
  }
}
*/