/*----------------------------------
----------------Header--------------
------------------------------------*/
.header-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*.header {
  background-color: $header-color1;
  background-position: center top, center;
  background-repeat: no-repeat;
  background-size: cover;


  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}*/