/*----------------------------------
-------------Main Content-----------
------------------------------------*/

.main-content {
  p {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 10px;
      height: 63px;
      background-color: gray;
      top: 0;
      left: -25px;
    }
  }
}