/*----------------------------------
-------------Main Content-----------
------------------------------------*/

.main-content {
  p:first-of-type {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 10px;
      height: 63px;
      top: 0;
      left: -25px;
    }
  }

  .context-section {
    h1 {
      color: $blue-banner;
    }

    p:first-of-type {
      &:before {
        background-color: $blue-banner;
      }
    }
  }

  .description-section {
    h1,
    h2 {
      color: $pink-description-title;
    }

    p:first-of-type {
      &:before {
        background-color: $pink-description-title;
      }
    }
  }

  .challenge-section,
  .participant-section {
    h1 {
      color: $blue-menu-separator;
    }

    p:first-of-type {
      &:before {
        background-color: $blue-menu-separator;
      }
    }
  }

  .award-section,
  .organizers-section {
    h1 {
      color: $purple-award-title;
    }

    p:first-of-type {
      &:before {
        background-color: $purple-award-title;
      }
    }
  }
}