/*----------------------------------
-------------Main Content-----------
------------------------------------*/
.main-content {
  .image-container {
    overflow: hidden;
  }

  .section-image {
    width: 140%;
    position: absolute;

    &.left {
      left: -40%;
      bottom: -40%;
    }
  }
}