/*----------------------------------
--------------Media Query-----------
------------------------------------*/
@media screen and (min-width: 1200px) {
  body {
    font-size: 21px;
  }

  .main-content {
    .section-image {
      width: 100%;
    }

    .image-container {
      display: flex!important;
      align-items: center;
      justify-content: center;
    }
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 20px;
  }

  .main-content {
    .image-container {
      overflow: hidden;
    }

    .section-image {
      width: 140%;
      position: absolute;
      bottom: -40%;

      &.left {
        left: -40%;
      }

      &.right {
        right: -40%;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .main-content {
    .image-container {
      overflow: hidden;
    }

    .section-image {
      width: 60%;
      margin-bottom: -20%;

      &.left {
        margin-left: -20%;
      }

      &.right {
        margin-right: -20%;
        float: right;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .header {
    .men-logo {
      max-width: 80%;
    }
  }

  .main-menu {
    .navbar {
      padding: 16px 4%;
    }

    .nav-item {
      &:not(:last-child) {
        .nav-link {
          border-right: 1px solid $blue-menu-separator;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .header {
    .men-logo {
      max-width: 350px;
      margin: 0 auto 20px;
      display: block;
    }

    .header-logo-container {
      width: 360px;
      margin: 0 auto 15px;
    }
  }

  .banner {
    .first-col {
      .row {
        justify-content: center;
      }
    }
  }

  .main-menu {
    .nav-item {
      &:not(:last-child) {
        .nav-link {
          border-bottom: 1px solid rgba($blue-menu-separator, 0.5);
        }
      }
    }
  }
}
/*
@media screen and (min-width: 1200px) {
  .bimester-content {
    .guide-modal-button,
    .video-modal-button {
      width: 23%;
      margin-right: 2%;
    }
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .bimester-content {
    .guide-modal-button,
    .video-modal-button {
      width: 31%;
      margin-right: 2%;
    }
  }
}
@media screen and (min-width: 992px) {
  .dropdown {
    margin-left: 4vw;
  }

  .open {
    .subject-link-container-ciencias {
      top: 140px !important;
      left: -132px !important;
    }

    .subject-link-container-sociales {
      top: 140px !important;
      left: 170px !important;
    }

    .subject-link-container-matematicas {
      top: 210px !important;
      left: 76px !important;
    }

    .subject-link-container-lenguaje {
      top: 210px !important;
      left: -40px !important;
    }
  }
}
@media screen and (max-width: 991px) {
  .dropdown {
    margin-left: 15px;
  }

  .open {
    .subject-link-container-ciencias {
      top: 140px !important;
      left: 15px !important;
    }

    .subject-link-container-sociales {
      top: 410px !important;
      left: 15px !important;
    }

    .subject-link-container-matematicas {
      top: 320px !important;
      left: 15px !important;
    }

    .subject-link-container-lenguaje {
      top: 230px !important;
      left: 15px !important;
    }
  }
}
@media screen and (min-width: 550px) and (max-width:991px) {
  .bimester-content {
    .guide-modal-button,
    .video-modal-button {
      width: 48%;
      margin-right: 2%;
    }
  }
}
@media screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }

  .header {
    .header-first-row {
      display: flex;
    }

    .site-title {
      max-width: 43vw;
    }

    .header-logo-container {
      .img-responsive {
        max-width: 18vw;
        margin-bottom: 18px;
      }
    }
  }

  .subject-content {
    .main-title {
      font-size: 2.75em;
    }

    .grade-title {
      font-size: 9.5em;
    }

    .bimester-pills {
      display: flex;
      justify-content: space-around;
    }
  }

  .footer {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .img-responsive {
      max-height: 55px;
    }

    .two-logo-container {
      display: flex;
      width: 50%;
      justify-content: space-around;
    }
  }
}
@media screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }

  .header {
    .header-logo-container {
      .img-responsive {
        max-width: 60vw;
        margin: 15px -15px;
      }
    }
  }

  .subject-content {
    .main-title {
      font-size: 2em;
    }

    .grade-title {
      font-size: 5em;
    }

    .bimester-pills {
      li {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
      }
    }
  }

  .footer {
    .container {
      text-align: center;
    }

    .img-responsive {
      display: inline-block;
      margin: auto;
      min-width: 25%;
    }
  }
}
@media screen and (max-width: 767px) and (min-width: 550px) {
  .footer {
    .two-logo-container {
      .logo-container {
        width: 50%;
      }

      .img-responsive {
        margin-bottom: 0;
      }

      &:first-child {
        margin-bottom: 30px;
      }
      display: flex;
      justify-content: space-around;
    }
  }
}
@media screen and (max-width: 549px) {
  .bimester-content {
    .guide-modal-button,
    .video-modal-button {
      width: 100%;
    }
  }

  .footer {
    .two-logo-container {
      .img-responsive {
        display: block;
        margin-bottom: 40px;
      }

      &:last-child {
        .logo-container:last-child .img-responsive {
          margin-bottom: 0;
        }
      }
    }
  }
}
*/