/*----------------------------------
----------------Modal--------------
------------------------------------*/

.modal-dialog {
  margin-top: 140px;
}

.btn-modal {
  background-color: white;
  color: $heading-color !important;
  font-size: 1.18em;
  font-weight: 600;
  border-radius: 25px;
}

.close-container {
  text-align: right;
}

.modal-header {
  border: none;
}

.modal-title {
  padding: 0 40px 7px;
  color: $blue-menu-tx;
  font-size: 1.87em;
  text-align: center;
  font-family: 'WorkSans-Medium';
  position: relative;
  width: 100%;
  line-height: 110%;

  big {
    display: block;
  }

  &:after {
    content: "";
    position: absolute;
    width: 142px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    margin: auto;
    border: 1px solid $blue-menu-tx;
  }
}

button.close {
  float: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  opacity: 1;
  color: white;
  font-size: 2em;
  font-family: 'WorkSans-Medium';
  background: $red-banner;
  padding: 0 !important;
  margin: 0 !important;
}

.modal-body {
  line-height: 200%;
  padding: 15px 40px;
  overflow: hidden;

  embed,
  iframe,
  object {
    height: 31vw;
    border: none;
    margin-left: -140px;
  }
}

.modal-backdrop.in {
  opacity: 0.8;
  background-color: $white;
}