/*----------------------------------
---------------Variables------------
------------------------------------*/
$site-name: site-bienestar-laboral;
$site-slider: bienestar_laboral_home_slider;
$path-site: edu-buscandocarrera;
$images-path: "../images/"; //
/* Colors -------------------------------*/
$gray-text: #4d4d4d !default; //Measures
// -------------------------------
$main-header-height: 132px;