/*----------------------------------
---------------Variables------------
------------------------------------*/
$site-name: site-bienestar-laboral;
$site-slider: bienestar_laboral_home_slider;
$path-site: edu-buscandocarrera;
$images-path: "../images/"; //
/* Colors -------------------------------*/
$gray-text: #4d4d4d !default;
$gray-footer-bg: #808080 !default;
$white-menu: #f2f2f2 !default;
$blue-menu-tx: #004a84 !default;
$blue-icon-bg: #e2ecfd !default;
$blue-menu-separator: #6699ff !default;
$heading-color: $blue-menu-separator !default;
$red-banner: #f42f63 !default;
$white: #fff !default; //
/*Measures*/
// -------------------------------
$main-header-height: 132px;