/*----------------------------------
--------------Home-Items------------
------------------------------------*/
.banner {
  .first-col {
    @extend %center-vh;
    text-align: center;
  }
}
/*
.home-videos {
  position: relative;

  .video-buttons-container {
    background-color: white;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    @include box-shadow-properties(0 0 20px 0 rgba(0, 0, 0, 0.3));
  }

  .embed-responsive-16by9 {
    &.red {
      background-color: $language-bg;
    }

    &.green {
      background-color: $science-bg;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      height: 75px;
      width: 108px;
      background-image: url("#{$images-path}img-spritesheet.png");
      background-position: -5px -62px;
    }
  }

  p {
    font-size: 0.9em;
  }

  h1 {
    font-family: 'Montserrat-Medium';
    font-size: 1.5em;
    text-align: center;
    color: $header-color1;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 30px;

    &:after {
      content: "";
      position: absolute;
      width: 142px;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0;
      margin: auto;
      border: 1px solid #2f296e;
    }
  }

  .btn-video {
    width: 100%;
  }
}*/